div:not(.well)>.block-bookbox {
  padding-bottom: 45px;

  .node-readmore {
    display: none;
  }

  &.not-aviable {
    opacity: 0.6; //todo ask designer
  }

  .not-aviable-mark {
    display: none;
  }


  &>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 0;

    li {
      display: inline-block;

      @media (min-width: 1200px) {
        &:nth-child(4n) {
          article {
            margin-right: 0;
          }
        }
      }


      @media (max-width: @laptop-2) {
        &:nth-child(3n) {
          article {
            margin-right: 0;
          }
        }
      }

      @media (max-width: @max-sm) {
          &:nth-child(3n) article {
            margin-right: 30px;
          }

          &:nth-child(2n) article {
            margin-right: 0;
          }
      }

      @media (max-width: 740px) {
        article {
          & {
            margin-right: 0;
            margin-bottom: 10px !important;
          }
        }
      }
    }

    .slick-list {
      width: 100%;
      order: -1;
    }

    .slick-track{
      padding-top: 20px;
    }

    .slick-prev,
    .slick-next {
      position: relative;
      background: none;
      border: 2px solid rgba(0, 0, 0, .07);
      text-indent: -9999px;
      padding:0;
      line-height: 31px;
      width: 35px;

      &:before {
        text-indent: 0;
      }

      &:hover {
        background: rgba(0, 0, 0, .07);
      }
    }

    .slick-prev {

      @media (max-width: @max-sm) {
        margin-right: 25px;
      }

      &:before {
        content: '◄';
        position: absolute;
        left: 8px;
        top: 0;
      }
    }

    .slick-next {
      order: 1;

      &:before {
        content: '►';
        position: absolute;
        left: 8px;
        top: 0;
      }
    }

    .slick-dots {
      padding: 11px 30px 0 30px;

      @media (max-width: @max-sm) {
        display: none !important;
      }

      li {
        list-style-type: none;
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, .07);
        width: 15px;
        height: 15px;
        background: none;
        text-indent: -10000px;
        margin-right: 15px;
        cursor: pointer;
        transition: all .3s ease;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background: rgba(0, 0, 0, .07);
        }

        &.slick-active {
          background: @header-text;
        }
      }
    }
  }
}

.publishers #block-system-main > .view-taxonomy-term > .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 45px;
  padding-left: 0;
}

#views-exposed-form-booksearch-page {
  #edit-searchtext-wrapper,
  .views-submit-button button {
    display: none;
  }

  .fa-search {
    cursor: pointer;
  }
}

.openNav {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &:before {
    z-index: 9800;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .45);
  }

  .region-slider-area .slick-arrow {
    z-index: 1 !important;
  }

  #navbar {
    z-index:9990 !important;
  }
}

.search-block {
  float: left;
  padding-top: 10px;
  width: 455px;
  margin-right: auto;

  @media (max-width: @laptop-2) {
    width: 380px;
  }

  @media (max-width: @max-xs) {
    display: none;
  }

  .finder-element {
    height: 55px;
    font-family: ubuntu-regular;
    font-size: @body-text-n;
    padding-left: 16px;

    @media (max-width: @max-xs) {
      padding-left: 26px;
    }

    @media (max-width: 480px) {
      padding-left: 15px;
    }
  }

  #finder-block-content_finder {
    position: relative;

    .btn-default.form-submit {
      position: absolute;
      font-size: .1px;
      width: 21px;
      height: 22px;
      right: 4%;
      top: 14px;
      background: url(../images/svg/search.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      cursor: pointer;
      clip: auto;
      box-shadow: none;
      outline: none !important;
    }

    .control-label {
      display: none;
    }
  }


  .form-item-title {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 92%;
      height: 1px;
      background: #e5e5e5;
      left: 4%;
      bottom: 10px;
    }
  }

  .svg-icon {
    display: none;
    position: absolute;
    height: 32px;
    width: 24px;
    padding-top: 2px;
    cursor: pointer;
    margin-top: 7px;
  }

  input {
    &:focus {
      border-color: #0fad9c;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(15, 173, 156, .4);
    }
  }
}

//finder
#autocomplete {
  overflow: visible;
  border: none;
  z-index:121201;

  .book-crust {
    display: none;
  }

  .show-all,
  .sorry {
    display: block;
    clear: both;
    width: 100%;
  }


  .sorry {
    font-family: ubuntu-regular;
    font-size: @body-text-b;
    color: @header-text;
  }

  .show-all {
    position: relative;
    padding-top: 20px;
    margin: 0 -21px -21px -21px;
    width: ~'calc(100% + 42px)';

    a {
      width: 100%;
      font-family: ubuntu-regular;
    }
  }

  .contextual-links {
    display: none;
  }

  &>ul {
    background: white;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, .07);

    &:before {
      content: '';
      position: absolute;
      top: -55px;
      right: -50px;
      width: 0;
      height: 0;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
      border-bottom: 100px solid #ffffff;
      transform: scale(0.11);
    }
  }

  ul {
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }

  li {
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;

  }
  ul>li {
    width: 100%;

    img {
      display: none;
    }

    h4 {
      font-size: @menu-text-2;
      font-family: ubuntu-medium;
      color: @header-text-3;
      margin-bottom: 0;
    }

    .field-name-field-book-author {
      font-family: ubuntu-medium;
      color: @input-text;
      font-size: @menu-text;
      line-height: 1.3;
      padding-top: 3px;
    }
  }

  &>ul {
    padding: 20px;
  }

  ul>li {
    padding: 0;

    article {
      .list-inline {
        display: none;
      }

      .book-labels {
        display: none;
      }
    }

    .selected {
      text-decoration: none;
    }

    &:first-child {
      &:before {
        content: "";
        position: absolute;
        top: 145px;
        left: 20px;
        width: ~'calc(100% - 40px)';
        height: 1px;
        background: rgba(0, 0, 0, .07);
      }
    }

    .book-card {
      transition: all .2s ease;

      &:hover {
        text-decoration: none;
        color: transparent;
        text-shadow: 4px 4px 5px rgba(150, 150, 150, .3);
      }
    }

    @media (min-width: 1200px) {
      &:first-child,
      &:nth-child(2) {
        width: 50%;
        padding-bottom: 20px;

        .book-card {
          &:hover {
            text-shadow: none;
          }

          &:hover {
            .field-type-image img {
              -webkit-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.7);
              -moz-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.7);
              box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.7);
            }
          }

          .field-type-image img {
            display: inline-block;
            margin-right: 10px;
            float: left;
            height: 95px;
            width: 65px;
            border: none;
            -webkit-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.5);
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
          }
        }
      }
    }

    &:first-child {
      @media (max-width: @laptop-2) {
        width: 100%;
        padding-bottom: 20px;

        .book-card {
          &:hover {
            text-shadow: none;
          }

          &:hover {
            .field-type-image img {
              -webkit-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.7);
              -moz-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.7);
              box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.7);
            }
          }

          .field-type-image img {
            display: inline-block;
            margin-right: 10px;
            float: left;
            height: 95px;
            width: 65px;
            border: none;
            -webkit-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.5);
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
          }
        }
      }
    }

  }
}

.open-search {
  #finder-block-content_finder-wrapper {
    display: block;
  }

  .svg-icon {
    display: none;
  }
}


#block-bookbox-catbiz,
#block-bookbox-catsamo,
#block-bookbox-catkrug,
#block-bookbox-catzoj,
#block-bookbox-catnauch,
#block-bookbox-cathud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 50px;

  .books-row {
    width: 100%;

    .node-book {
      .col(12);

      @media (min-width: @screen-sm-min) {
        .col(6);

        &:nth-of-type(odd) {
          clear: both;
        }
      }

      @media (min-width: @screen-md-min) {
        .col(4);

        &:nth-of-type(odd) {
          clear: none;
        }

        &:nth-of-type(3n+1) {
          clear: both;
        }
      }
    }
  }
}

#new-changes {
 // position: absolute;
  top: 0;

  .modal-body {
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    padding: 0 20px 20px 20px;
    width: 100%;

    @media (min-width: 768px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    h2 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .modal-footer {
    padding-bottom: 30px;
  }
}

body.publishers .breadcrumb,
body.authors .breadcrumb,
body.page-node-889 .breadcrumb,
body.page-books .breadcrumb,
body.privacy .breadcrumb,
body.collection .breadcrumb,
body.page-faq .breadcrumb,
body.page-content-finder .breadcrumb,
body.page-book-search .breadcrumb,
body.page-node-893 .breadcrumb,
body.books.category .breadcrumb {
  display: block;
  background: none;

  a {
    font-family: ubuntu-medium;
    color: #a58c3c;
    font-size: @menu-text;
    text-transform: uppercase;
    opacity: .65;
  }

  .delimiter {
    position: relative;
    display: inline-block;
    font-size: .01px;
    padding: 0 9px;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      left: 6px;
      top: 2px;
      height: 0;
      border-top: 4px solid transparent;
      border-left: 6px solid @red;
      border-bottom: 4px solid transparent;
    }
  }
}

.page-books,
.books.category,
.publishers,
.collection,
.page-book-search {
  .text-center>ul.pagination {
    li {
      position: relative;
      display: inline-block;

      &:not(.active):not(.next):not(.prev) {
        @media (max-width: @max-xs) {
          display: none;
        }
      }

      &.first.active {

        @media (max-width: @max-xs) {
          margin-left: 50px;
        }

        &:before {
          content: '◄';
          position: absolute;
          top: 0;
          left: -41px;
          border: 2px solid rgba(0, 0, 0, .09);
          line-height: 28px;
          font-family: ubuntu-regular;
          font-size: 10px;
          color: @white;
          background: none;
          margin-right: 5px;
          padding: 0;
          cursor: pointer;
          transition: all .3s ease;
          width: 32px;
          height: 32px;
          opacity: 1;
        }
      }

      span, a {
        border: 2px solid rgba(0, 0, 0, .14);
        line-height: 28px;
        font-family: ubuntu-regular;
        font-size: @menu-text;
        color: @white;
        background: none;
        margin-right: 5px;
        padding: 0;
        cursor: pointer;
        transition: all .3s ease;
        width: 32px;
        height: 32px;
        opacity: .6;

        &:hover {
          background: rgba(0, 0, 0, .07);
        }
      }

      &.pager-last,
      &.pager-first {
        display: none;
      }

      &.active span {
        opacity: 1;
        background: rgba(0, 0, 0, .25);
        border-color: transparent;
      }

      &.next, &.prev {
        a {
          position: relative;
          border: 2px solid rgba(0, 0, 0, .09);
          text-indent: -9999px;
          padding:0;
          line-height: 29px;
          width: 32px;
          font-size: 10px;
          opacity: 1;

          &:before {
            text-indent: 0;
          }

          &:hover {
            background: rgba(0, 0, 0, .07);
          }
        }
      }

      &.prev a {

        &:before {
          content: '◄';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          text-align: center;
        }
      }

      &.next a {

        &:before {
          content: '►';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}


.not-aviable-mark {
  display: none;
}

#block-views-exp-user-company-hits-page-1 {
  display: none;
}
