.btn {
  width: 260px;
  padding: 0;
  font-family: ubuntu-bold;
  font-size: @body-text-n;
  text-transform: uppercase;
  color: @white;
  background: @red;
  border: none;
  line-height: 50px;
  border-radius: 0;
  letter-spacing: 6px;
  transition: all .3s ease;
  -webkit-box-shadow: 18px 28px 61px 5px rgba(216,72,48, 0.2);
  -moz-box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.2);
  box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.2);
  outline: 0;

  &:active  {
    box-shadow: 18px 28px 61px 5px rgba(216, 72, 48, 0.2);
    color: @white;
    background-color: @red;
    outline: 0;
  }

  @media (max-width: @laptop-2) {
    width: 220px;
  }

  @media (max-width: @max-sm) {
    width: 240px;
  }

  @media (max-width: @max-xs) {
    width: 210px;
  }

  @media (max-width: @mid-xs) {
    width: 100%;
  }

  &:hover, &:active:hover, &:focus {
    color: @white;
    border: none;
    background: #db553f;
    -webkit-box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.3);
    -moz-box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.3);
    box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.3);
  }

  &:focus, &:active {
    outline: 0;
  }

  &[disabled]{
    background: darken(@green, 5);
    opacity: 1;
    cursor: auto;
    font-family: ubuntu-medium;
    letter-spacing: 4px;
    font-size: @menu-text;

    //@media (max-width: @max-sm) and (min-width: 451px) {
    //  display: none;
    //}

   &:hover {
     background-color: darken(@green, 7);
     border: none;
     box-shadow: none;
   }
  }
}

.btn-container.with-tip {
  position: relative;

  .book-tip {
    font-family: ubuntu-medium;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: @menu-text;
    color: @white;
    position: absolute;
    width:100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  button {
    font-size: 0;
  }
}

.field-name-field-isnew,
.field-name-field-bookbox-rec,
.field-name-field-hit {
  float: left;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  padding: 0 5px !important;
  white-space: nowrap;
  margin-right: 5px;
  border: none !important;
  letter-spacing: normal;
}

.field-name-field-isnew,
.field-name-field-bookbox-rec,
.field-name-field-isnew {
  font-family: ubuntu-bold;
  font-size: 13px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: @label-color;
}


.field-name-field-isnew {
  font-family: ubuntu-bold;
  background-color: @yellow;
  color: @label-color;
  height: 25px;
  width: 90px;
  position: absolute;
  top: 132px;
  left: 4px;
  transform: rotate(-90deg);

}

.field-name-field-hit {
  position: absolute;
  height: 25px;
  width: 45px;
  top: 65px;
  left: 26px;
  transform: rotate(-90deg);
  font-family: ubuntu-bold;
  background-color: @secondary-color;
  color: @label-color;
  text-transform: uppercase;
}

.pager.pager-load-more {
  .pager-next a {
    border:none;
    background: none;
    opacity:.8;
    text-transform: uppercase;
    color: @bb-darkblue;
    &:after {
      content: '';
      display: inline-block;
      text-indent: -9999px;
      width: 15px;
      height: 15px;
      background: url(../icons-svg/down-black.svg);
      background-size:15px;
      margin-left: 9px;
      margin-bottom: -3px;
      opacity:.8;
    }

    &:hover {
      background: none;
    }
  }
}
