.btn {
  width: 260px;
  padding: 0;
  font-family: ubuntu-bold;
  font-size: @body-text-n;
  text-transform: uppercase;
  color: @white;
  background: @red;
  border: none;
  line-height: 50px;
  border-radius: 0;
  letter-spacing: 6px;
  transition: all .3s ease;
  -webkit-box-shadow: 18px 28px 61px 5px rgba(216,72,48, 0.2);
  -moz-box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.2);
  box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.2);
  outline: 0;

  @media (max-width: @laptop-2) {
    width: 220px;
  }

  @media (max-width: @max-sm) {
    width: 240px;
  }

  @media (max-width: @max-xs) {
    width: 210px;
  }

  @media (max-width: @mid-xs) {
    width: 100%;
  }

  &:hover {
    color: @white;
    border: none;
    background: #db553f;
    -webkit-box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.3);
    -moz-box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.3);
    box-shadow: 18px 28px 61px 5px rgba(216,72,48,0.3);
  }

  &:focus, &:active {
    outline: 0;
  }

  &[disabled]:hover {
    background-color: @red;
    border: none;
  }

  //color: @light-color;
  //background-color: @primary-color;
  //transition: all .3s;
  //text-transform: uppercase;
  //padding: 20px;
  //letter-spacing: 1px;
  //
  //&:hover, &:focus {
  //  text-decoration: none;
  //  background-color: darken(@primary-color, 20);
  //  color: @light-color;
  //}
  //
  //&-red {
  //  background-color: @secondary-color;
  //
  //  &:hover, &:focus {
  //    color: @light-color;
  //    text-decoration: none;
  //    background-color: darken(@secondary-color, 20);
  //  }
  //}
  //
  //&.outline {
  //  background: none;
  //
  //  &.red {
  //    color: @secondary-color;
  //    border-color: @secondary-color;
  //
  //    &:hover {
  //      background: @secondary-color;
  //      color: white;
  //    }
  //  }
  //}

}

.field-name-field-isnew,
.field-name-field-bookbox-rec,
.field-name-field-hit {
  //.font-size(9) !important;
  //.line-height(24) !important;
  float: left;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  padding: 0 5px !important;
  white-space: nowrap;
  margin-right: 5px;
  border: none !important;
  letter-spacing: normal;
}

.field-name-field-isnew,
.field-name-field-bookbox-rec,
.field-name-field-isnew {
  font-family: ubuntu-bold;
  font-size: 13px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: @label-color;
}


.field-name-field-isnew {
  font-family: ubuntu-bold;
  background-color: @yellow;
  color: @label-color;
  height: 25px;
  width: 90px;
  position: absolute;
  top: 132px;
  left: -5px;
  transform: rotate(-90deg);

}

.field-name-field-hit {
  position: absolute;
  height: 25px;
  width: 45px;
  top: 65px;
  left: 17.9px;
  transform: rotate(-90deg);
  font-family: ubuntu-bold;
  background-color: @secondary-color;
  color: @label-color;
}

.pager.pager-load-more {
  .pager-next a {
    border:none;
    background: none;
    opacity:.8;
    text-transform: uppercase;
    color: @bb-darkblue;
    &:after {
      content: '';
      display: inline-block;
      text-indent: -9999px;
      width: 15px;
      height: 15px;
      background: url(../icons-svg/down-black.svg);
      background-size:15px;
      margin-left: 9px;
      margin-bottom: -3px;
      opacity:.8;
    }

    &:hover {
      background: none;
    }
  }
}
