.modal-backdrop {
  background-color: rgba(0, 0, 0, .4);
  opacity: 0.9;
}

.modal {
  top: 16%;

  .modal-dialog {
    width: 585px;
  }

  .modal-header,
  .modal-footer {
    border: none;
  }

  .modal-content {
    text-align: center;
    padding: 65px 35px;

    .modal-header,
    .modal-body,
    .modal-footer {
      padding-left: 0;
      padding-right: 0;
    }

    .modal-header {
      padding-top: 0;
    }

    .modal-footer {
      padding-bottom: 0;
    }
  }

  .modal-body {
    padding-top: 3px;
    padding-bottom: 0;

    p {
      font-family: ubuntu-regular;
      font-size: @body-text-n;
      color: @header-text;
      font-weight: bold;
    }

    h4 {
      font-family: GillSansC;
      font-size: 27px;
      color: @header-text;
      padding-bottom: 20px;
    }

    h5 {
      font-family: GillSansC;
      font-size: @body-text-b;
      color: @header-text;
      text-transform: uppercase;
      padding-left: 25px;
      padding-right: 25px;
    }

    h6 {
      font-family: ubuntu-medium;
      font-size: @body-text-n;
      color: #b7b7b7;
      text-transform: uppercase;
      padding-top: 7px;
    }

    .order-date {
      position: relative;
      font-family: ubuntu-medium;
      font-size: @menu-text-2;
      color: @header-text;
      border-top: 1px solid #e0e0e0;
      padding-top: 7px;
      font-weight: bold;
    }
  }

  .modal-footer {
    text-align: center;

    .btn-block {
      display: flex;
      justify-content: space-between;
      padding-left: 13px;
      padding-right: 13px;
    }

    .btn {
      width: 230px;
      box-shadow: 11px 14px 51px 5px rgba(216, 72, 48, 0.2);
    }

    .btn.cancel {
      background: #c2c2c2;
      box-shadow: none;

      &:hover,
      &:focus {
        background: darken(#c2c2c2, 5);
      }
    }

    p {
      padding-top: 30px;
      font-family: ubuntu-regular;
      font-size: 15px;
      color: #373737;

      a {
        color: @red;
        text-decoration: underline;
      }
    }
  }
}

.btn.outline {
  background: none;

  &.red {
    color: @secondary-color;
    border-color: @secondary-color;

    &:hover {
      background: @secondary-color;
      color: white;
    }
  }
}
