body.publishers {
  .sort-submenu,
  #block-system-main,
  div.col-sm-12 {
    display: none !important;
  }

  .block-bookbox {
    padding-top: 35px;

    &>h2 {
      font-family: GillSansC;
      font-size: @text-block-title;
      color: @white;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    &>a {
      display: none;
    }
  }
}
