body.publishers,
body.collection {
  .sort-submenu,
  div.col-sm-12 {
    display: none !important;
  }

  .block-bookbox {
    padding-bottom: 0;
  }

  .main-container {
    width: 100%;
  }

  .yellow-block {
    img {
      display: none;
    }

    .description {
      font-family: ubuntu-regular;
      font-size: @body-text-n;
      color: @header-text-3;

      @media (max-width: @max-xs) {
        font-size: @menu-text-2;
      }
    }
  }

  &.collection {
    #block-system-main>.view-taxonomy-term {
      .container;
    }
  }

  .page-header {
    font-family: GillSansC;
    font-size: @header-large;
    text-transform: uppercase;
    color: @header-text-3;
    border: none;

    @media (max-width: @laptop-2) {
      margin-bottom: 10px;
    }

    @media (max-width: @max-sm) {
      font-size: 50px;
    }

    @media (max-width: @max-xs) {
      font-size: @screen-title;
    }

    @media (max-width: @mid-xs) {
      font-size: 26px;
    }
  }

  .publisher-url {
    width: 100%;
    overflow: hidden;

    a {
      position: relative;
      font-family: ubuntu-medium;
      font-size: @body-text-b;
      color: @header-text-3;
      text-decoration: underline;
      padding-left: 30px;
      white-space: normal;

      &:before {
        content: '';
        position: absolute;
        left:0;
        top:0;
        width: 20px;
        height: 20px;
        background: url(../images/svg/publish-link.svg);
        background-size: 100%;
        background-repeat: no-repeat;
      }

      @media (max-width: @max-sm) {
        &:before {
          left:3px;
        }

        @media (max-width: @mid-xs) {
          font-size: @body-text-n;
        }
      }
    }
  }

  h2 {
    font-family: GillSansC;
    font-size: @text-block-title;
    color: @white;
    text-transform: uppercase;
    padding: 30px 0;

    @media (max-width: @max-xs) {
      font-size: 24px;
    }

    @media (max-width: @mid-xs) {
      font-size: 22px;
    }
  }


  #block-system-main > .view-taxonomy-term {
    >.view-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start !important;
      padding-top: 30px;
      padding-bottom: 0;

      @media (max-width: @laptop-2) {
        padding: 0 47px;
      }

      @media (max-width: @max-sm) {
        padding: 0 82px;
      }

      @media (max-width: @max-xs) {
        display: block !important;
        padding: 0;
      }

      .field-name-field-bookbox-rec {
        display: none;
      }

      .views-row {
        @media (max-width: @max-xs) {
          display: block;
          clear: both;
          margin-left: auto !important;
          margin-right: auto !important;
        }

        .book-card {
          ul {
            padding-left: 0;
            list-style-type: none;
          }
        }
      }

      .term-listing-heading,
      .node-readmore,
      .not-aviable-mark {
        display: none;
      }
    }
  }
}
