body.page-book-search {
  .main-container {
    width: 100%;

    .page-header {
      display: none;
    }

    .yellow-block {
      height: 255px;
    }

    .search-results {
      form {
        display: none;
      }
    }

    #block-finder-content-finder {
      .btn {
        display: none;
      }
    }

    section.col-sm-12>.container {
      width: 100%;
      padding:0;
    }

    #finder-form-content-finder {
      .container;

      .control-label,
      #autocomplete {
        display: none;
      }

    }

    .finder-results-content_finder {
      .container;

      .view-content {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
