.page-user {
  &.not-logged-in {
    #reg_mes1 {
      display: none;
    }

    &.page-user-register {
      #reg_mes1 {
        display: block;
      }
    }

    #block-block-8 {
      text-align: center;

      h2 {
        display: none;
        text-transform: uppercase;
        .font-size(20);
        margin-top: 40px;
      }
    }
  }

  .tabs--primary {
    display: none;
  }

  &.page-user-edit {
    #edit-account {
      .form-item-mail {
        display: none;
      }
    }

    #edit-timezone,
    .field-name-field-name,
    .field-name-field-sirname,
    .field-name-field-company,
    .field-type-list-boolean {
      display: none;
    }
  }

  &.logged-in {

    div.col-sm-12 {
      display: none;
    }

    .main-container {
      width: auto;

      .view-content {
        margin: 0 -15px;
      }
    }
  }
}
