.page-user-edit {
  .main-container {
    width: 100%;

    #block-system-main {
      .container;

      #user-profile-form > div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .field-name-field-position,
        .image-widget-data .form-group {
          display: none;
        }

        .field-name-field-author-photo {
          order: -3;

          .image-preview {
            border: 2px solid #e0e0e0;
            padding: 0;
          }

          .image-widget-data {
            float: left;
            clear: both;
          }
        }
      }
    }
  }
}
