.page-node-881 {
  .tabs--primary,
  .col-sm-12 {
    display: none;
  }
  .field-type-text-with-summary {
    margin-left: 34px;
    color: @light-grey;
    margin-bottom: 0;
  }
  .main-container {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    .page-header {
      margin: 60px 0 20px 0;
      color: @bb-darkblue;
      text-transform: uppercase;
      display: inline-block;
      font-size: 24px;
      border: none;
      &:before {
        content: " ";
        width: 30px;
        height: 2px;
        background: @primary-color;
        position: relative;
        display: inline-block;
        margin-bottom: 7px;
        margin-right: 4px;
        margin-left: 0;
        padding: 0;
      }
    }

  }
  #block-views-page-404-block {
    padding-left: 15px;
    padding-top:10px;
     .view-content {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       .views-row {
         flex-grow:1;
         max-width: 33.333333%;
         article {
           height:100%;
           .field-name-field-bookbox-rec {
             font-size: 70%;
             padding: 0;
             height: auto;
             width: 100%;
             border: none;
             line-height: 4em;
             margin-top: 0;
             padding-left: 2em;
             padding-right: 2em;
             position: relative;
           }
         }
       }
     }
   }
}
