.view-taxonomy-term {
  width: 100%;
}

.page-taxonomy-term,
.page-node-1122,
.page-node-1123,
.page-node-1124 {
  .tabs--primary {
    display: none;
  }

  #block-system-main {
    /*
    article.node-book {
      .col(12);

      @media (min-width: @screen-sm-min) {
        .col(6);

        &:nth-of-type(odd) {
          clear: both;
        }
      }

      @media (min-width: @screen-md-min) {
        .col(4);

        &:nth-of-type(odd) {
          clear: none;
        }

        &:nth-of-type(3n+1) {
          clear: both;
        }
      }

    }*/

    .views-row {
      .col(12);

      .book-card {
        display: block;
        height: 100%;
        //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        padding: 20px;
        color: @bb-darkblue;
        text-decoration: none;

        &:hover, &:focus {
          box-shadow: 0 0 49px rgba(0, 0, 0, 0.15), 0 2px 20px rgba(0, 0, 0, 0.62);
          //0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
          text-decoration: none;
        }

        ul, li {
          margin-left: 0;
          padding-left: 0;
        }

        li {
          list-style: none;
        }

        .field-name-field-nni {
          img {
            display: inline-block;
            width: 100%;
            border: @line 1px solid;
          }
        }

        h4 {
          .font-size(14);
          color: @bb-darkblue;
          font-weight: 600;
        }

        .field-name-field-book-author {
          color: @bb-darkblue;
          margin-bottom: 5px;

          &:hover, &:focus {
            text-decoration: none;
          }
        }

        .book-labels {
          overflow: hidden;

          .field {
            text-transform: uppercase;
          }

          .field + .field {
            margin-left: 5px;
          }

        }

        .field-name-field-bookbox-rec:extend(.btn) {
          //margin-top: 10px;
          // margin-left: 5px;
        }

        .field-name-field-hit {
          //margin-top: 10px;
        }

        .field-name-field-bookbox-rec,
        .ield-name-field-isnew,
        .field-name-field-hit {
          .font-size(10);
        }

      }

      @media (min-width: @screen-sm-min) {
        .col(6);

        &:nth-of-type(odd) {
          clear: both;
        }
      }

      @media (min-width: @screen-md-min) {
        .col(4);

        &:nth-of-type(odd) {
          clear: none;
        }

        &:nth-of-type(3n+1) {
          clear: both;
        }
      }
    }

    .text-center {
      clear: both;
      width: 100%;
    }
  }

  .text-center,
  .tabs--primary,
  .region-precontent #views-exposed-form-booksearch-page {

  }

 .main-container {
   width: 100%;
   margin: 0;
   padding: 0;
   padding-right: 15px;
   padding-bottom: 100px;
   min-height:90vh;

   .page-header {
     margin: 60px 0 20px 0;
     color: @bb-darkblue;
     text-transform: uppercase;
     display: inline-block;
     font-size: 24px;
     border:none;

     &:before {
       content: " ";
       width: 90px;
       height: 2px;
       background: @primary-color;
       position: relative;
       display: inline-block;
       margin-bottom: 7px;
       margin-right: 4px;
       margin-left: 0;
       padding: 0;
     }
   }

   #block-system-main {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       padding-left: 50px;

   }
 }

}

.page-node-1122,
.page-node-1123,
.page-node-1124 {
  .books-row {
    h2 {
      display: inline-block;
      font-size: 14px;
      color: @bb-darkblue;
      text-transform: uppercase;
      border-bottom: 2px solid;
      padding-bottom: 2px;
      margin-left: 35px;
      font-weight:600;
    }
    .know-more {
      color: @bb-darkblue;
      float: right;
      margin-top: 15px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  #block-bookbox-catbiz {
    padding-left: 60px;
  }
}

