.front {
  h1 {
    display: none;
  }

  .main-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .row {
    margin: 0;

    .col-sm-12 {
      padding: 0;
    }
  }

  #block-system-main article{
    position: relative;

    .field-name-field-header-cover {
      img {
        width: 100%;
      }
    }

    .field-name-field-header-text {
      position: absolute;
      z-index: 1;
      top: 15%;
      right: 15%;
      max-width: 500px;

      p {
        font-size: 40px;
        color: @bb-darkblue;
        font-weight: 600;
        line-height: 1;

        a {
          display: inline-block;
          margin-top: 20px;
          color: @light-color;
          background-color: @secondary-color;
          transition: all .3s;
          text-transform: uppercase;
          padding: 20px;
          font-size: 14px;

            &:hover, &:focus {
              text-decoration: none;
              background-color: darken(@secondary-color, 20);
            }
          }
        }
      }
    }

  #block-views-main-recomend-block-1 {
    .block-title {
      margin: 20px;
      color: @bb-darkblue;
      border-bottom: 2px solid @bb-darkblue;
      text-transform: uppercase;
      display: inline-block;
      font-size: 24px;
    }
  }

  .view-main-recomend {
    margin-top: 25px;

    .view-content {
      display: flex;
      flex-wrap: wrap;
    }

    .views-row {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      .col(4);
    }

    .more-link {
      text-align: center;

      a{
        text-transform: uppercase;
        color: @bb-darkblue;
        font-size: 18px;
        letter-spacing: 1px;
      }
    }

  }
}
