.page-user-login {
  #navbar,
  .footer,
  .breadcrumb,
  .tabs--primary,
  .help-block {
    display: none;
  }

  .main-container {
    padding-top: 20vh;
    color: @bb-darkblue;

    #block-block-7 {
      text-align: center;

      a {
        text-transform: uppercase;
        color: @primary-color;
        text-decoration: underline;
      }
    }

    #block-block-8 {
      text-align: center;
    }

    .page-header {
      text-align: center;
      border:none;
      text-transform: uppercase;
    }

    .form-item-name {
      margin: 40px 0;
    }

    #userlostpass {
      color: @dirty-blue;
      text-decoration: underline;
      margin-right:5px;
    }

    #user-login {
      margin:auto;
      width:30vw;

      .form-actions {
        button {
          margin:40px 0;
          float: left;
          width:45%;
          color: @primary-color;
          border:2px solid;
          background: none;

          &:hover {
            background: @primary-color;
            color: @light-color;
          }
        }
      }

      #edit-actions {
        text-align: center;
      }
    }
  }
}

.not-logged-in.page-user {
  h1 {
    display: none;
  }
}
