.page-user-favorites {
  .main-container {
    width:100%;
    padding:0;
    padding-right: 15px;
    .page-header,
    .block-title {
      border-bottom: none;
      margin-top:60px;
      margin-left:0;
      color: @bb-darkblue;
      text-transform: uppercase;
      display: inline-block;
      font-size: 24px;
      &:before {
        content: " ";
        width: 70px;
        height: 2px;
        background: @primary-color;
        position: relative;
        display: inline-block;
        margin-bottom: 7px;
        margin-right: 4px;
        margin-left: 0;
        padding: 0;
      }
    }
    .webform-client-form,
    #block-system-main {
      padding-left: 80px;
    }
  }

  .node-book.node-teaser {
    position: relative;

    .links {
      position: absolute;
      right: 0;
      top: 0;
    }

    .flag-bookmarks {
      display: block;

      a {
        text-indent: -9999px;
        height: 13px;
        width: 13px;
        background: url(../images/close.png) no-repeat center center;
        border: none;
        display: block;
      }
    }
  }
}

.page-user {
  &.not-logged-in {
    #reg_mes1 {
      display: none;
    }

    &.page-user-register {
      #reg_mes1 {
        display: block;
      }
    }

    .tabs--primary {
      li {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  #edit-timezone {
    display: none;
  }
}

.page-user-orders {
  #block-system-main {
    h2 {
      display: block;
      clear: both;
    }

    article.node-book.node-teaser {
      .col(12);

      @media (min-width: @screen-sm-min) {
        .col(6);

        &:nth-of-type(odd) {
          clear: both;
        }
      }

      @media (min-width: @screen-md-min) {
        .col(4);

        &:nth-of-type(odd) {
          clear: none;
        }

        &:nth-of-type(3n+1) {
          clear: both;
        }
      }
    }
  }
}
