.page-user-register {
  #navbar,
  .footer,
  .breadcrumb,
  #edit-account  {
    display: none;
  }

  .main-container {
    margin-top: 10vh;

    #block-block-8 {
      text-align: center;
      margin-bottom: 40px;
    }

    .tabs--primary {
      margin-bottom: 40px;

      li {
        width: 100%;
        text-align: center;

        a{
          border: none;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 18px;
          padding: 0;
          color: @bb-darkblue;
        }
      }


    }

    .field-name-field-name,
    .field-name-field-sirname,
    .form-item-mail,
    .field-name-field-company {
      width: 30vw;
      margin: auto;
      margin-bottom: 40px;
    }

    .form-type-password-confirm {
      .password-help {
        left:66.33333333%;
        top:0;
      }

      .form-type-password {
        float: none;
        margin: auto;
        width:30vw;
        padding:0;
      }

      .help-block {
        display: none;
      }
    }

    .field-name-field-agree {
      margin-bottom: 45px;
      .form-required {
        display: none;
      }

      .form-item-field-agree-und {
        text-align: center;
      }

      #edit-field-agree-und {
        height:26px;
      }

      .help-block {
        display: inline-block;
        color: @bb-darkblue;
        font-size: 14px;

        a {
          color: @primary-color;
        }
      }
    }

    #edit-actions {
      text-align: center;
    }

    #block-block-7 {
      text-align: center;

      #reg_mes1 {
        color: @bb-darkblue;
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 60px;

        a {
          color: @primary-color;
        }
      }

      #reg_mes2 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 120px;

        a {
          color: @primary-color;
        }
      }
    }
  }
}
