#block-views-similarterms-block,
#block-views-main-recomend-block-1,
.view-user-wishlist {
  .views-row {
    .col(12);

    @media (min-width: @screen-sm-min) {
      .col(6);

      &:nth-of-type(odd) {
        clear: both;
      }
    }

    @media (min-width: @screen-md-min) {
      .col(4);

      &:nth-of-type(odd) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: both;
      }
    }
  }
}

#views-exposed-form-booksearch-page {
  #edit-searchtext-wrapper,
  .views-submit-button button {
    display: none;
  }

  .fa-search {
    cursor: pointer;
  }
}

.open-search {
  #views-exposed-form-booksearch-page {

    .views-exposed-widgets {
      position: relative;

      .views-submit-button {
        position: absolute;
        right: 0;
        top: 0;

        button {
          text-indent: -9999px;
          margin: 0;
          line-height: 0;
          border: 0;
          padding: 5px;
        }
      }
    }

    #edit-searchtext-wrapper,
    .views-submit-button button {
      display: block;
    }

    #edit-searchtext-wrapper {
      width: 100%;
      padding-right: 60px;
      box-sizing: border-box;

      label {
        display: none;
      }
    }

    .fa-search {
      display: none;
    }
  }

  .search-block {
    background: @primary-color;
    width: 100%;
    margin-left: 0 !important;
  }

  .menu,
  .navbar-header,
  .user-fav-nav{
    display: none;
  }

  .main-container,
  .footer {
    opacity: 0.5;
  }
}

#block-bookbox-catbiz,
#block-bookbox-catsamo,
#block-bookbox-catkrug {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 50px;

  .books-row {
    .node-book {
      .col(12);

      @media (min-width: @screen-sm-min) {
        .col(6);

        &:nth-of-type(odd) {
          clear: both;
        }
      }

      @media (min-width: @screen-md-min) {
        .col(4);

        &:nth-of-type(odd) {
          clear: none;
        }

        &:nth-of-type(3n+1) {
          clear: both;
        }
      }
    }
  }
}
