.btn {
  color: @light-color;
  background-color: @primary-color;
  transition: all .3s;
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 1.5px;

  &:hover, &:focus {
    text-decoration: none;
    background-color: darken(@primary-color, 20);
    color: @light-color;
  }

  &-red {
    background-color: @secondary-color;

    &:hover, &:focus {
      color: @light-color;
      text-decoration: none;
      background-color: darken(@secondary-color, 20);
    }
  }
}

.field-name-field-isnew,
.field-name-field-bookbox-rec,
.field-name-field-hit {
  .font-size(10) !important;
  float: left;
  margin-bottom: 5px;
  .line-height(28) !important;
  text-align: center;
  display: inline-block;
  padding: 0 10px !important;
  white-space: nowrap;
  margin-right: 5px;
  border: none !important;
}

.field-name-field-isnew,
.field-name-field-bookbox-rec {
  background: @primary-color;
  color: @light-color;
}

.field-name-field-bookbox-rec {
  position: absolute;
  top: 45%;
  left: 10px;
  margin-left: 0 !important;

  &:after {
    content: '';
    display: block;
    position: absolute;
    -webkit-transform:rotate(360deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 14px 0;
    border-color: transparent #10766a transparent transparent;
    left: 0;
  }
}


.field-name-field-isnew {
  background-color: @bb-darkblue;
}

.field-name-field-hit {
  background-color: @secondary-color;
  color: @light-color;
}
