#navbar {
  width: 100%;
  max-width: none !important;
  border: none;
  background: @primary-color;
  padding: 0 65px 0 85px;
  margin-bottom: 0;
  margin-top: 0;

  @media (min-width:1024px) and (max-width:1100px) {
    padding: 10px 2vw;
  }

	.navbar-header {
		padding-top: 6px;
		padding-right: 3%;
	}

  nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;

      li{
        a {
          text-transform: uppercase;
          color: @light-color;
          background: none;

          &:hover, &:active, &:focus {
            color:  @bb-darkblue;
            background-color: @light-color;
            transition: background-color .5s ease, color .5s ease;
          }

          //@media (min-width:1024px) and (max-width:1130px) {
          //  padding: 11px 3px;
          //}
        }
      }

      .dropdown-menu {
        a, a:active, a:focus, a:hover {
          color: @bb-darkblue;
        }
      }
    }

  //.navbar-nav .secondary {
  //  .first .last .expanded .dropdown {
  //    margin-right:0;
  //  }
  //}

  //.navbar-nav {
  //  .first .expanded .dropdown {
  //    @media (min-width: 1650px ) {
  //      margin: auto 5vw;
  //    }
  //  }
  //
  //  .last .expanded .dropdown {
  //    @media (min-width: 1650px ) {
  //      margin-left: 5vw;
  //    }
  //  }
  //}

  .search-block {
    display: inline-block;
    @media (min-width:1600px) {
      margin-left: -100px;
    };
    .views-submit-button .svg-icon {
      height: 32px;
      width: 24px;
      fill: white;
      padding-top: 2px;
      cursor: pointer;
    }
  }

  .user-fav-nav {
    display: none;
  }
}
