aside.col-sm-4 {
  padding:0;
  border-left: #ebecee 1px solid;
  position: fixed;
  right:0;
  top: 0;
  height:100%;
  overflow: auto;
  display: none;

  @media (min-width: @screen-sm-min) {
    display: block;
  }

  #block-bookbox-minicart,
  #block-bookbox-readingnow,
  #block-bookbox-monthorder {

    .node-teaser {
      header {
        display: none;
      }
    }
    color: @bb-darkblue;

    h3 {
      text-transform: uppercase;
    }

    h6 {
      span {
        color: @primary-color;
      }
    }

    .tip_message {
      display: block;
      clear: both;
    }

    .book-container {
      position: relative;
      margin-bottom: 0;

      @media screen and (min-width: 1300px) {
        width: 50%;
        float: left;
        padding-right: 22px;
        box-sizing: border-box;

        &:nth-of-type(odd) {
          //margin-right: 5%;
        }
      }

      article{
        max-width: 200px;

        .flag-bookmarks {
          display: none;
        }

        @media screen and (max-width: 1300px) {
          max-width: none;
        }
      }
    }

    .book-card {
      text-decoration: none;
      //color: @bb-darkblue;
      padding: 5px;

      h4 {
        min-height: 26px;
      }

      .field-name-field-book-author {
        //font-size: 12px;
      }

      .book-labels {
        display: none !important;
      }

      &:hover {
        text-decoration: none !important;
        color: @bb-darkblue;
      }
    }
  }

  .add_some_book {
    //display: none;
    display: block;
    background: white;
    border: @line 1px dashed;
    min-height: 230px;
    text-indent: -9999px;
    //transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 20px;


    @media (min-width: @screen-md-min) {
      width: 45%;
      float: left;

      &:nth-of-type(odd) {
        margin-right: 5%;
      }
    }

    @media screen and (max-width: 1300px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 991px) {
    //padding-top: 70px;
    padding-right: 15px;
  }

  //@media screen and (max-width: 1023px) {
  //  padding-bottom: 510px;
  //}

  @media (min-width: 992px) and (max-width: 1300px) {
    padding-right: 15px;
    //padding-top: 115px;
  }

  .region-sidebar-second {
    padding-top: 73px;
    padding-bottom: 70px;

    //@media screen and (max-width: 1300px) {
    //  //padding-right: 15px;
    //  padding-top: 10px;
    //}

    @media screen and (max-width: 1024px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (min-width: 1025px) and (max-width: 1300px) {
      //padding-right: 15px;
      padding-top: 65px;
    }
  }

  @media screen and (max-width: 1024px) {
    position: relative;
  }

}

#block-bookbox-minicart {
  padding: 40px 75px 10px 4.9vw;

  .book-container {
    button {
      text-indent: -9999px;
      position: absolute;
      right: 0;
      top: 0;
      height: 13px;
      width: 13px;
      background: url('../images/close.png') no-repeat center center;
      border: none;

      @media screen and (max-width: 1299px) {
        right: -32px;
      }
    }
  }

  #edit-submit-box {
    border: none;
    background: @secondary-color;
    padding: 20px;
    display: block;
    margin:auto;

    &:hover {
      background: darken(@secondary-color, 20);
    }

    @media screen and (max-width: 992px) {
      font-size: 10px;
      margin: 0;

    }
  }

  //@media screen and (max-width: 1300px) {
  //  padding-right: 0;
  //}

  @media screen and (max-width: 1300px) {
    padding: 0;
    padding-left: 1vw;
    padding-right: 3vw;
  }
}

#block-bookbox-readingnow,
#block-bookbox-monthorder {
  //padding: 0 75px 130px 4.9vw;
  padding: 40px 75px 10px 4.9vw;

  @media screen and (max-width: 1300px) {
  	padding: 0;
    padding-left: 1vw;
    padding-right: 3vw;
  }

  .book-container {
    button {
      white-space: normal;
      border: none;
      background-color: @secondary-color;

      span {
        display: none;
      }

      @media screen and (max-width: 992px) {
        font-size: 10px;
      }

      @media screen and (max-width: 1300px) {
        margin-bottom: 20px;
      }
    }
  }
}
