.node-book.node-teaser {
  .node-readmore {
    display: none;
  }

  img {
    width: 100%;
  }

  &.not-aviable {
    opacity: 0.6; //todo ask designer
  }

  ul.links,
  .not-aviable-mark {
    display: none;
  }
}

.book-card {
  color: @bb-darkblue;
  text-decoration: none;

  h4 {
    .font-size(14);
  }
}